{% extends "base.html" %}
{% block content %}

<h3>{{descr}} ({{complane_list|length}}шт)</h3>

{% if print_view %}

	{% if all_dates_at_work %}
	Доступные даты на выезд:<br>
		{% for item in all_dates_at_work %}
			<a href="{{ url_for( 'complaint.at_work', dt=item ) }}">{{item | string | truncate(10, True, '')}}</a><br>
		{% endfor %}
	{% endif %}
	<br><br>
	
	Дата в актах
	<form action="{{ url_for('prints.print_all') }}" method="post" target="_blank">
		<input name = "date_print" type="date" value={{req}}>
		<input type="hidden" name = "dt" value = {{req}}>
		<input type="submit" value="Печать">
	</form>
	
	
	<form action="{{ url_for('prints.print_empty') }}" method="post" target="_blank">
		<input type="submit" value="Печать пустого акта">
		<input type="checkbox" name="empty" checked>(Все поля)
	</form>
{% endif %}

{% if print_view == 0 and  complane_view_all == 0 %}

<table width = 100%>
<tr>
<td>
{% if find_view != 1 %}
<form method="post">
	<textarea name="complaint" style = "width:199px; height :50px;"></textarea>
	<br>
	<input type="submit" value="Добавить новую рекламацию">
	<br>
	<input type="checkbox" id="bitrix_checkbox" name="Bitrix24">
	<label for="bitrix_checkbox">Bitrix24</label>
</form>

<button onclick="toggle_visibility('hand')">Ручной ввод</button>
<div class="hand" id="hand" style="display: none;">
	<form method="post">
		<label for="hand_compl_num">Номер заявки </label>
		<input type="text" required id="hand_compl_num" name="hand_compl_num"><br>
		<label for="desription">Описание</label>
		<input type="text" required id="desription" name="desription"><br>
		<label for="address">Адрес</label>
		<input type="text" required id="address" name="address"><br>
		<label for="username">ФИО</label>
		<input type="text" required id="username" name="username"><br>
		<label for="phone">Телефон</label>
		<input type="text" required id="phone" name="phone"><br>

		<input type="submit" value="Добавить новую рекламацию">
	</form>
</div>
	<br><br>

	<br><div>Upload scans</div>

<form action="{{ url_for( 'uploads.upload_img' ) }}" method=post enctype=multipart/form-data>
      <input type=file name=file multiple>
      <input type=submit value=Upload>
</form>

{% endif %}
</td>

<td align = "right">
<form method="post">

	<input type = "text" name = "find_smth"> <br>
	<input type="submit" value="Поиск">
</form>
</td>
</tr>
</table>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
		<p>{{ message }}</p>
    {% endfor %}

  {% endif %}
{% endwith %}


{% if complane_list %}

    <table {% if print_view %} class="sortable-table" {% endif%} border="1" width = 100% style="font-size:10pt;">
	<thead>
		<tr>
		<th>№</th>
		{% if print_view %}
			<th>id</th>
		{% endif %}
		
		<th>Номер</br> заявки</th>
		
		<th width = 25%>Описание проблемы</th>
		<th width = 25%>Адрес</th>
		<th>Имя</th>
		<th>Телефон</th>
		<th>Тип</th>
		<th>Статус</th>
		<th width = 15%>Комментарий</th>
   </tr>
		</thead>
		<tbody>
   
   
    {% for list in complane_list %}
    
        <tr  {% if print_view %} class="handle" {% endif %}
				{% if list.device_type == '187F0002' %}
					bgcolor="#98FB98" style="color:black; "
				{% elif list.device_type == '187F000100' %}
					bgcolor="#EEE8AA" style="color:black;"

				{% elif list.device_type == '187F0001' %}
					bgcolor="#ADD8E6" style="color:black;"

				{% elif list.device_type == 'NoAddres' %}
					bgcolor="red" style="color:black;"
				{% elif list.device_type == 'Error' %}
					bgcolor="red" style="color:black;"
				{% endif %}
		>

			<td>{{loop.index}}</td>

			{% if print_view %}
			<td align="center">{{list.id}}</td>
			{% endif %}
			
			<td align="center"><a href="{{ url_for( 'detail_compl.detail_compl', c_id=list.id ) }}" class="d_view" style="font-size:14pt;">{{ list.numer_complane }}{% if list.date_complited_fake == "1"  %}*{% endif %}
				</a>
				<br>{{list.date_creation}}</td>
			<td width="200">{{list.description_complane}}</td>
			<td width="250">{{list.address_complane}}</td>
			<td>{{list.client_name}}</td>
			<td width="130" align="center"> <a href="{{ url_for( 'detail_compl.detail_compl', c_id=list.id ) }}"> {{list.client_phone_num}}</a></td>
			<td>{{list.device_type}}</td>

		<td align="center"> {{list.status_complane}} {% if print_view %} <br>{{list.date_at_work | string | truncate(10, True, '')}} {% endif %}</td>
<td>{{list.additional_comment}}<br></td>
</tr>
{% endfor %}
		</tbody>
</table><br>

<br>

{% if print_view %}
   	{% for list in complane_list %}
   		{{list.client_phone_num}} <br>
	{% endfor %}
{% endif %}



{% else %}
    <p>No complanes are available.</p>
{% endif %}
<script type="text/javascript">
   function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }


var fixHelper = function(e, ui) {
	ui.children().each(function() {
		$(this).width($(this).width());
	});
	return ui;
};


$('.sortable-table tbody').sortable({
	helper: fixHelper,
	update: function(event, ui) {
        let items = [];
        var str_item = '';
	    $(ui.item[0].parentNode).children('tr').each(function(){
	    	//console.log($(this));
          	//items.push($(this).children('td')[1].innerHTML);
          	str_item += $(this).children('td')[1].innerHTML + ';';
        });
        //console.log(str_item);
        $.get( '/api/', { str_item } );
    },
});

function sendValue(el = null){
    let body = null;

    if (el) {
        let col = el.parentNode;
        let item = col.parentNode
        let id = item.id ? item.id + '.' + col.id : el.id;
        body = 'id=' + id + '&value=' + encodeURIComponent(el.value);
    }

    return new Promise(function(succeed, fail) {
        let req = new XMLHttpRequest();
        let url = "{{ url_for('api.api') }}";
        req.open("POST", url, true);
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        req.addEventListener("load", function() {
        if (req.status < 400) {
        	console.log(req.responseText);
        }
        else
        	console.log('err');
    });

    req.send(body);
    });
}


</script>

{% endblock %}
